* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #303030;
}
html, body  {
    max-width: 100%;
    overflow-x: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
}

/* ---- ListMarks ---- */

.list-wrapper {
    padding: 1rem;
}
.list-wrapper ul {
    padding: 0 2.5rem;
}
.list-wrapper li {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    position: relative;
}
.list-wrapper li:hover {
    background-color: rgb(98, 98, 98);
    transition: all 0.25s ease;
    cursor: default;
}
.bookmark-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}
.bookmark-url {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

#closeIcon {
    visibility: hidden;
    align-self: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.1 ease;
    color: rgb(151, 151, 151);
    z-index: 1;
}
.bookmarks-wrapper li:hover > #closeIcon {
    transition: all 0.2s ease;
    visibility: visible;
    cursor: pointer;
}

/* ---- Material UI ---- */
#add-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
#addbutton svg {
    color: black;
}

.createMarks-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.createMarks-form {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2.5rem 2rem 2rem 2rem;
}
#createCloseIcon {
    align-self: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
}
#folder-selector {
    padding: 20px 0;
}

/* ---- General ---- */

.title {
    color: rgb(237, 237, 237);
    font-family: 'Roboto', sans-serif;
    padding: 2rem 2.5rem;
    text-decoration: underline;
    text-decoration-color: rgb(250, 241, 70);
}

p {
    color: white;
}