@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    background-color: rgb(30, 30, 30);
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* ---- ListMarks ---- */

.first-container {
    display: flex;
    height: 100%;
    width: 45%;
}
.bookmarks-wrapper {
    height: 100%;
    width: 100%;
}
.bookmarks-wrapper ul {
    padding: 0 2.5rem;
}
.bookmarks-wrapper li {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    background-color: grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.bookmarks-wrapper li:hover {
    background-color: rgb(110, 110, 110);
    transition: all 0.15s ease;
    cursor: default;
}
.bookmark-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}
.bookmark-url {
    text-decoration: none;
}

.fa-xmark {
    visibility: hidden;
    align-self: flex-end;
    position: absolute;
}
.bookmarks-wrapper li:hover > .fa-xmark {
    visibility: visible;
    cursor: pointer;
}

/* ---- Folders & CreateMarks ---- */

.second-container {
    display: block;
}
.folders-container {
    padding: 0 2.5rem;
}
.create-wrapper form {
    padding: 0 2.5rem;
}

.input-wrapper {
    font-size: 14px;
    position: relative;
    color: black;
    border-top: 20px solid transparent;
}
.input-wrapper input {
    margin-bottom: 1.3rem;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
    color: black;
}
.input-wrapper .placeholder {
    position: absolute;
    left: 12px;
    bottom: 50%;
    top: 3px;  
    transform: translateY(-50%);
    width: calc(100% - 24px);  
    color: #aaa;
    overflow: shown;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.input-wrapper input:focus + .placeholder {
    top: -15px;
    font-size: 10px;
    color: rgb(182, 182, 182);
    transition: 
        top 0.2s ease,
        color 0.2s ease,
        font-size 0.2s ease;
}
input:valid + .placeholder {
    top: -15px;
    font-size: 10px;
    color: rgb(135, 135, 135);
}

/* ---- General ---- */

.title {
    color: rgb(237, 237, 237);
    font-family: 'Roboto', sans-serif;
    padding: 2rem 2.5rem;
    text-decoration: underline;
    text-decoration-color: rgb(250, 241, 70);
}